.boton::before {
    font-size: x-large;
    font-style: italic;
    content: 'Pasa por encima';
}
*{
    background-color: rgb(132, 177, 177);
}
button.boton{
    background-color: rgb(212, 226, 216);
    padding: 5px 10px;
}
button.boton:hover{
    background-color: darkgreen;
    color: white;
}
button.boton:hover::before {
    content: "¡Hecho!"
}